* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.header {
    margin: 4px 30px 0 0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.header a {
    text-decoration: none;
    font-size: 13px;
    color: rgba(0, 0, 0, .87);
    font-family: arial, sans-serif;
}
.header a:hover {
    text-decoration: underline;
}

#image-header {
    padding: 18px;
    transform: translateX(18px);
}

.advanced-logo img {
    width: 6%;
    transform: translateY(-40px)
}

.advanced-title {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}
.container {
    margin: 10px 35px;
}

.sub-title {
    margin-bottom: 20px;
}

.fields {
   float: right;
   vertical-align: middle;
   align-items: center;
   
}


.search-btn {
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: border-color 0.1s ease;
}
.search-btn:hover {
    border-color: lightgray;
}
