* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
}

.header-left {
    padding-top: 6px;
}

.header-right a {
    margin-left: 10px;
    white-space: nowrap;
}


.header a {
    text-decoration: none;
    font-size: 13px;
    color: rgba(0, 0, 0, .87);
}

.header a:hover {
    text-decoration: underline;
}

.img-logo {
    display: inline-block;
    width: 74px;
    height: auto;
}

.title-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    margin-top: 60px;
}

.logo-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 300px;
}

.logo {
    width: 100%;
    height: auto;
   
}


.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 16px;
    margin-top: 15px;
}

.input-container {
    position: relative;
    width: 100%;
    max-width: 584px;
    margin: 0 auto;
}

.input-field {
    position: relative;
    width: 100%;
}

.search-icon, .mic-icon {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    pointer-events: none;
    color: #007bff;
}

.search-icon {
    left: 15px;
    color: #9aa0a6;
} 
.mic-icon {
    right: 15px;
}
.search-input {
    width: 100%;
    padding: 0 50px;
    height: 52px;
    border-radius: 24px;
    font-size: 16px;
    border: 1px solid #dfe1e5;
    box-shadow: 0 0 8px rgba(32, 33, 36, 0.1);
    transition: box-shadow 0.3s ease;
    outline: none;
}

.search-input:hover {
    box-shadow: 0 0 8px rgba(168, 166, 166, 0.4);
    border-color: #b9b9b9; 
}

.search-input:focus {
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.2);
}

.search-buttons {
    display: flex;
    margin-top: 28px;
    gap: 10px;
}
.search-btn {
    font-size: 14px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    padding: 10px 16px;
    cursor: pointer;
    transition: border-color 0.1s ease, box-shadow 0.1s ease;
}
.search-btn:hover {
    border-color: lightgray;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        padding: 10px;
    }
    .header-left {
        margin-bottom: 10px;
    }
    .header-right {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .title-logo {
        margin-top: 80px;
    }

    .search-buttons {
        flex-direction: column;
        width: 100%;
        max-width: 150px;
    }
    .search-btn {
        margin: 0 auto;
        padding: 10px 3p16x;
        font-size: 0.6rem;
    }
}

@media (max-width: 400px) {
   .search-input {
    height: 40px;
    font-size: 14px;
   }
   .search-btn {
    padding: 10px 16px;
   }
}